# Dependencies
node_modules
template/node_modules

# Build outputs
template/dist

# Lockfiles
template/bun.lock
template/package-lock.json
template/yarn.lock
template/pnpm-lock.yaml

# Docs (not needed in npm package)
docs

# IDE
.idea
.vscode

# OS
.DS_Store

# Git
.git
